@font-face {
  font-family: "ptsans";
  src: url("../fonts/web/ptsans.woff2") format("woff2"), url("../fonts/web/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ptsans";
  src: url("../fonts/web/ptsansbold.woff") format("woff2"), url("../fonts/web/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "ptsans", Arial, sans-serif;
  font-style: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation, .social-networks, .hotels-list, .reasons-list, .accomodation-food-gifts{
  list-style: none;
  padding: 0;
  margin: 0;
}


.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.current-link a {
  color: #766357;
}

.introduction-image {
  width: 458px;
  height: 352px;
  background-image:  url("../img/intro-mask.svg"), url("../img/background.jpg");
  background-color: #315672;
  background-repeat: no-repeat;
  background-position: bottom, top;
  back
}


.intoroduction-item {
  background-color: #ffffff;
}

.reasons p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.hotels p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.find-hotel-btn {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-color: #766357;
}

.find-hotel-btn:hover, .find-hotel-btn:focus {
  background-color: #604e43;
}

.find-hotel-btn:active {
  background-color: #503e33;
  color: #928a85;
}

form label {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.check-in-date input, .check-out-date input {
  background-color: #f2f2f2;
  border: none;
  width: 346px;
  height: 38px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.children input, .adults input {
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.more, .less {
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  color: #a9a9a9;
  font-size: 11px 11px;
}

.more:hover, .less:hover, .more:focus, .less:focus {
  color: #000000;
}

.more:active, .less:active {
  color: #81b3d2;
}

.submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-color: #81b3d2;
}

.submit:hover, .submit:focus {
  background: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  width: 1200px;
  height: 120px;
}

.contacts {
  font-size: 21px;
  line-height: 26px;
}

.contacts a {
  color: black;
}

.social-networks {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 150px; 
margin: 0 auto;
padding; 0;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.hotel-name:hover, .hotel-name:focus {
  color: #9fc4db;
}

.hotel-name:active {
  color: #cacaca;
}

.btn-details {
  display: inline-block;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.btn-booking {
  display: inline-block;
  width: 142px;
  height: 27px;
  background-color: #766357;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.btn-details:hover, .btn-details:focus {
  background-color: #669ec0;
}

.btn-details:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.btn-booking:hover, .btn-booking:focus {
  background-color: #604e43;
}

.btn-booking:active {
  background-color: #503e33;
  color: #928a85;
}

.hotel-type {
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
}

.hotel-price {
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
}

.hotel-rate {
  width: 110px;
  height: 27px;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  background-color: #f2f2f2;
}

.main-navigation {
  width: 100%;
  padding: 0 72px;
}

.site-navigation {
  width: auto;
  height: 56px;
  display: flex;
  align-items: center;
}

.site-navigation li:first-child {
  padding-right: 147px;
}

.site-navigation li:last-child {
  padding-left: 161px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.introduction {
  width: auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-image {
  width: auto;
  height: 650px;
  padding: 40px 374px 88px 382px;
}

.intoroduction-item {
  margin-top: 61px;
  max-width: 440px;
}

.reasons p {
  height: 13px;
  margin-top: 40px;
  margin-bottom: 56px;
}

.hotels h2 {
  margin-top: 54px;
  margin-bottom: 36px;
}

.hotels > p {
  margin: 37px 0 52px 0;
}

.hotels-container {
  width: 568px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.find-hotel-btn {
  padding: 0;
  border: 0;
  flex-shrink: 0;
}

.hotels-container form {
  height: 395px;
  margin: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;


}


.hotels-container form > p {
margin: 0;
position: relative;

}

.hotels-container .form-halfwidth {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.form-halfwidth div {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.form-halfwidth div:first-child button:first-of-type {
  margin-left: auto;
}

.form-halfwidth div:last-child button:first-of-type {
  margin-left: 26px;
}



.hotels-container form input:first-child,
.hotels-container form input:last-child {
margin-right: 0;
padding: 0;
position: absolute;
left: 112px;

}

.main-footer {
  padding: 36px 101px 36px 123px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotels-list li {
  border-bottom: 1px solid #fefefe;
  width: 1056px;
  height: 150px;
  margin-left: 71px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hotels-list .hotel-image {
  margin-top: 30px;
}

.hotel-info {
  margin-left: 30px;
  width: 258px;
  display: flex;
  flex-direction: column;
}

.hotel-info p {
margin: 0;
}

.hotel-info .hotel-name {
  text-align: initial;
  margin-top: 26px;
  line-height: 15px;
}



.hotel-info .hotel-type-price {
  display: flex;
  flex-direction: row;
  text-align: initial;
  margin-top: 21px;
}

.hotel-info .hotel-type {
  width: 110px;
}

.hotel-info .hotel-price {
  width: 142px;
  margin-left: 6px;
}

.hotel-info .btn-details-booking {
margin-top: 20px;
}

.hotels-list .hotel-rate {
  margin-left: 522px;
  margin-top: 93pxƒ;
}

.main-logo {
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%);

}

.reason-number, .reason-explain, .accomodation-food-gifts-description {
font-size: 14px;
font-weight: 400;

}

.reasons-list > li {
  background-color: #eeeeee;
  width: 400px;
  height: 256px; 
  padding-top: 46px;
}


.reasons-list > li:first-child,
.reasons-list > li:nth-child(2) {
  background-color: #81b3d2;
  color: white;
  margin-left: 800px;
  margin-right: 0;
  
  }

.reasons-list > li:first-child {
  margin-left: 0;  
  margin-right: 800px;
    }
  
.reasons-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      
.accomodation-food-gifts {
width: 1200px;
height: 256px;
display: flex;
}

.accomodation-food-gifts li{
  background-color: white;
  padding-top: 160px;
  width: 400px;
  height: 330px;
 
}

.reason-number,
.accomodation-food-gifts-description {
margin-top: 28px;
line-height: 23px;

}

.reason-explain {
margin-top: 30px;
line-height: 23px;
}

.reasons-list > li:first-child {
  order: -2;
}

.reasons-list > li:last-child {
  order: -1;
  padding-top: 0;
}

.reasons {
  position: relative;
}
.reasons .sedona-city-photo {
  position: absolute;
  top: 69px;
  right: 0;
}

.reasons .sedona-bridge {
  position: absolute;
  top: 581px;
  left: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 48px;
  background-color: #81b3d2; 
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
 
}

.social-button:active path {
  fill: #88b6d1;
}


