@font-face {
  font-family: "ptsans";
  src: url(../fonts/web/ptsans.woff2) format("woff2"),url(../fonts/web/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family:"ptsans";src:url(../fonts/web/ptsansbold.woff) format("woff2"),url(../fonts/web/ptsansbold.woff) format("woff");font-weight:700;font-style:normal
}

body {
  margin: 0;
  font-family: "ptsans",Arial,sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

html {
  box-sizing: border-box
}

*,::after,::before {
  box-sizing: inherit
}

*,:focus {
  outline: 0
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #e1e1e1
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  background-color: #fff
}

.accomodation-food-gifts,.hotels-list,.reasons-list,.site-navigation,.social-networks {
  list-style: none;
  padding: 0;
  margin: 0
}

.site-navigation a {
  color: #000
}

.site-navigation a:focus,.site-navigation a:hover {
  color: #81b3d2
}

.site-navigation a:active {
  color: #cacaca
}

.current-link a {
  color: #766357
}

.introduction-image {
  background-image: url(../img/intro-mask.svg),url(../img/background.jpg);
  background-color: #315672;
  background-repeat: no-repeat;
  background-position-y: 453px,-80px
}

.intoroduction-item {
  background-color: #fff;
  font-size: 21px
}

.reasons p {
  height: 13px;
  margin-top: 0;
  margin-bottom: 62px
}

.hotels p,.reasons p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333
}

.find-hotel-btn {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: #766357
}

.find-hotel-btn:focus,.find-hotel-btn:hover {
  background-color: #604e43
}

.find-hotel-btn:active {
  background-color: #503e33;
  color: #928a85
}

form .check-in-date,form .check-out-date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between
}

form label {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 500
}

.check-in-date input,.check-out-date input {
  background-color: #f2f2f2;
  border: 0;
  width: 346px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 700;
  padding-left: 12px
}

.calendar {
  position: absolute;
  right: 9px
}

.calendar path {
  fill: #cacaca
}

.calendar:focus path,.calendar:hover path {
  fill: #000
}

.calendar:active path {
  fill: #85b5d3
}

.hotels-container input:hover {
  background-color: #ebebeb
}

.hotels-container input:focus {
  background-color: #fff;
  outline: 0;
  border: 1px solid #e5e5e5
}

.adults input,.children input {
  background-color: #f2f2f2;
  border: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  font-weight: 500
}

input:hover {
  background-color: #ebebeb
}

input:focus {
  background-color: #fff;
  border: 1px solid #e5e5e5
}

.less,.more {
  border: 0;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  color: #a9a9a9;
  font-size: 21px;
  font-weight: 700
}

.contacts a,.less:hover,.more:hover {
  color: #000
}

.less:focus,.less:hover,.more:focus,.more:hover {
  color: #000
}

.less:active,.more:active {
  color: #81b3d2
}

.submit {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: #81b3d2;
  margin-top: 25px;
  border: 0
}

.submit:focus,.submit:hover {
  background: #669ec0
}

.submit:active {
  background-color: #5496bd;
  color: #94b9d2
}

.main-footer {
  background-color: #fff;
  opacity: .9;
  width: 1200px;
  height: 120px;
  padding: 33px 91px 36px 123px;
  display: flex;
  flex-wrap: wrap
}

.contacts {
  font-size: 21px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin: 0
}

.contacts a:first-child {
  display: block
}

.authors,.social-networks {
  display: flex;
  justify-content: space-between
}

.social-networks {
  flex-wrap: wrap;
  width: 150px;
  margin-left: 178px;
  margin-top: 3px
}

.authors {
  margin-left: 228px;
  font-weight: 400;
  font-size: 14px;
  align-items: flex-start
}

.authors a {
  margin-left: 0;
  padding-left: 8px;
  padding-top: 6px
}

.hotel-name {
  font-size: 21px;
  font-weight: 700;
  color: #000
}

.hotel-name:focus,.hotel-name:hover {
  color: #9fc4db
}

.hotel-name:active {
  color: #cacaca
}

.btn-booking,.btn-details {
  display: inline-block;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  color: #fff;
  font-size: 14px;
  font-weight: 400
}

.btn-booking {
  width: 142px;
  background-color: #766357
}

.btn-details:focus,.btn-details:hover {
  background-color: #669ec0
}

.btn-details:active {
  background-color: #5496bd;
  color: #94b9d2
}

.btn-booking:focus,.btn-booking:hover {
  background-color: #604e43
}

.btn-booking:active {
  background-color: #503e33;
  color: #928a85
}

.hotel-price,.hotel-type {
  font-size: 14px;
  font-weight: 400;
  line-height: 12px
}

.hotels-list .hotel-rate {
  margin-left: 522px;
  margin-top: 29px
}

.hotel-rate div:last-child {
  width: 110px;
  height: 27px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  background-color: #f2f2f2
}

.hotel-rate .stars {
  width: 120px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 47px
}

.hotel-rate .four-stars {
  width: 89px
}

.hotel-rate .three-stars {
  width: 65px
}

.hotel-rate .two-stars {
  width: 41px
}

.main-navigation {
  width: 100%;
  padding: 0 72px
}

.site-navigation {
  width: auto;
  height: 56px;
  display: flex;
  align-items: center
}

.site-navigation li:first-child {
  padding-right: 147px
}

.site-navigation li:last-child {
  padding-left: 166px
}

.site-navigation li:nth-child(3) {
  padding-left: 387px
}

.introduction {
  width: auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.introduction-image {
  width: auto;
  height: 510px;
  padding: 0 370px 0 371px
}

.introduction-item {
  margin-top: 61px;
  width: 500px
}

.hotels h2 {
  font-size: 30px;
  margin-top: 54px
}

.hotels>p {
  margin: 30px 0 129px
}

.hotels {
  position: relative
}

.hotels-container {
  width: 568px;
  height: 480px;
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
  background-color: #fff
}

.find-hotel-btn {
  padding: 0;
  border: 0;
  flex-shrink: 0
}

.hotels-container form {
  height: 395px;
  margin: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start
}

.hotels-container form>p {
  margin: 0;
  position: relative
}

.hotels-container .form-halfwidth {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.form-halfwidth div {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  align-items: center
}

.form-halfwidth div:first-child button:first-of-type {
  margin-left: auto
}

.form-halfwidth div:last-child button:first-of-type {
  margin-left: 26px
}

.hotels-list li {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 150px;
  padding-left: 73px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}

.hotels-list .hotel-image {
  margin-top: 30px
}

.hotel-info {
  margin-left: 29px;
  width: 258px;
  display: flex;
  flex-direction: column
}

.hotel-info p {
  margin: 0
}

.hotel-info .hotel-name {
  text-align: initial;
  margin-top: 30px;
  line-height: 15px
}

.hotel-info .hotel-type-price {
  display: flex;
  flex-direction: row;
  text-align: initial;
  margin-top: 17px
}

.hotel-info .hotel-type {
  width: 110px
}

.hotel-info .hotel-price {
  width: 142px;
  margin-left: 6px
}

.hotel-info .btn-details-booking {
  margin-top: 16px
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%)
}

.reason-number {
  font-size: 14px
}

.reason-explain {
  font-size: 14px;
  font-weight: 400
}

.accomodation-food-gifts-description {
  font-size: 14px
}

.reason {
  width: 150px;
  margin: 0 auto
}

.reasons-list>li {
  background-color: #eee;
  width: 400px;
  height: 256px;
  padding-top: 46px
}

.reasons-list>li:nth-child(2) {
  background-color: #81b3d2;
  color: #fff;
  margin-left: 800px;
  margin-right: 0;
  margin-top: 74px
}

.reasons-list>li:first-child {
  background-color: #81b3d2;
  color: #fff;
  margin-left: 0;
  margin-right: 800px;
  order: -2
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.accomodation-food-gifts {
  width: 1200px;
  height: 330px;
  display: flex
}

.accomodation-food-gifts li {
  background-color: #fff;
  padding-top: 160px;
  width: 400px;
  height: 330px;
  font-size: 21px
}

.accomodation,.food,.gifts {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60px
}

.food,.gifts {
  background-image: url(../img/icon-3.svg)
}

.gifts {
  background-image: url(../img/icon-2.svg);
  background-position-y: 57px
}

.accomodation-food-gifts-description,.reason-number {
  margin: 23px auto 0;
  line-height: 23px;
  font-weight: 400;
  width: 285px
}

.reason-explain {
  margin: 20px auto 0;
  line-height: 23px;
  width: 255px
}

.reasons-list li:first-child .reason-explain {
  width: 280px
}

.reasons-list li:nth-child(2) .reason-explain {
  width: 320px
}

.reasons-list>li:last-child {
  order: -1;
  padding-top: 0
}

.reasons {
  position: relative;
  font-size: 21px;
  line-height: 21px
}

.reasons .sedona-city-photo {
  position: absolute;
  top: 75px;
  right: 0
}

.reasons .sedona-bridge {
  position: absolute;
  top: 661px;
  left: 0
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2
}

.social-button:focus,.social-button:hover {
  background-color: #669ec0
}

.social-button:active {
  background-color: #5496bd
}

.social-button:active path {
  fill: #88b6d1
}

.find-hotel-form {
  display: flex;
  height: 216px;
  width: 100%;
  background-color: #4e78a2;
  background-image: url(../img/filter%20background@1X.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff
}

.find-hotel-form label {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  position: relative
}

.infrastructure {
  margin-left: 72px
}

.accomodation-type,.infrastructure {
  border: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 31px;
  text-align: left;
  font-size: 16px;
  font-weight: 600
}

.find-hotel-form ul {
  list-style: none;
  padding: 0 0 0 40px
}

.find-hotel-form ul li {
  margin-bottom: 21px;
  display: flex;
  align-items: center
}

.accomodation-type label::before,.infrastructure label::before {
  content: "";
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -40px;
  top: 2px
}

.accomodation-type input:disabled+label::before,.infrastructure input:disabled+label::before {
  opacity: .5
}

.accomodation-type input:checked+label::before,.infrastructure input:checked+label::before {
  background-image: url(../img/checkbox-on.svg)
}

.accomodation-type input:disabled+input:checked+label::before,.infrastructure input:disabled+input:checked+label::before {
  opacity: 0,5
}

.accomodation-type {
  margin-left: 116px
}

.filter-range {
  width: 319px;
  margin-top: 25px;
  margin-right: 70px;
  margin-left: auto
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  text-align: left
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  font-size: 0;
  text-align: left
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer
}

.price-controls .max-price,.price-controls .min-price {
  width: 90px;
  margin-left: 65px;
  line-height: 30px
}

.price-controls .max-price {
  margin-left: 57px
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
  color: #fff
}

.range-controls {
  position: relative;
  margin-bottom: 32px
}

.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,.3)
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #b1b1b1;
  background-size: cover;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,.2);
  cursor: pointer
}

.range-toggle:hover {
  transform: scale(1.1)
}

.range-toggle-min {
  left: 0
}

.range-toggle-max {
  left: 80%
}

.btn-transparent {
  display: block;
  margin-left: auto;
  margin-right: 95px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: 0 0;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer
}

.btn-transparent:hover {
  color: #000;
  background: #fff
}

input::placeholder {
  color: #000;
  text-transform: uppercase
}

.sorting {
  display: flex;
  align-items: center;
  padding-left: 71px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
  margin-top: 12px
}

.sorting p:first-child {
  font-weight: 510;
  min-width: 120px
}

.sorting p:last-of-type {
  margin-left: 44px;
  font-size: 11px
}

.sorting ul {
  list-style: none;
  align-items: center;
  display: flex;
  font-size: 11px;
  margin-left: 48px;
  margin-right: 73px;
  padding-left: 0;
  width: 100%
}

.sorting li a {
  color: #b1b1b1;
  text-decoration: underline dashed #81b3d2
}

.sorting ul li:first-child a {
  color: #81b3d2;
  text-decoration: none
}

.sorting ul li:nth-child(2) {
  margin-left: 36px
}

.sorting ul li:nth-child(3) {
  margin-left: 38px
}

.sorting ul li:last-child {
  margin-right: 0;
  margin-left: 12px
}

.sorting ul li:nth-child(4) {
  margin-left: auto
}

.sorting ul li:nth-child(4) a path {
  fill: #cacaca
}

.sorting ul li:last-child a path {
  fill: #81b3d2
}

.sorting ul li:nth-child(2) a:focus,.sorting ul li:nth-child(2) a:hover,.sorting ul li:nth-child(3) a:focus,.sorting ul li:nth-child(3) a:hover {
  color: #81b3d2
}

.sorting ul li:nth-child(2) a:active,.sorting ul li:nth-child(3) a:active {
  color: #000;
  text-decoration: none
}

.sorting ul li:nth-child(4) a:focus path,.sorting ul li:nth-child(4) a:hover path {
  fill: #000
}

.sorting ul li:nth-child(4) a:active path {
  fill: #81b3d2
}

.index-map {
  background-image: url(../img/map.jpg);
  background-size: cover;
  width: 100%;
  height: 593px
}

.index {
  margin-top: -120px
}

.authors a:focus path,.authors a:hover path {
  fill: #85b6d4
}

.authors a:active path {
  fill: #bfbdbe
}
